{{ if .Values.database }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-v1
  namespace: {{ .Release.Namespace }}
  labels:
    app: database
    version: v1
    {{ include "backyards-demo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: database
      version: v1
  template:
    metadata:
      labels:
        app: database
        version: v1
    spec:
      containers:
      - name: database
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        - containerPort: 8082
        - containerPort: 8083
      {{- with .Values.resources }}
      resources:
        {{ toYaml . | nindent 12 }}
      {{- end }}
{{ end }}
