{{ if .Values.moviesv3 }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: movies-v3
  namespace: {{ .Release.Namespace }}
  labels:
    app: movies
    version: v3
    {{ include "backyards-demo.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movies
      version: v3
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: movies
        version: v3
    spec:
      containers:
      - name: movies
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        - containerPort: 8082
        - containerPort: 8083
        env:
        - name: WORKLOAD
          value: Echo
        - name: ECHO_STR
          value: "movies list response v3"
        - name: REQUESTS
          value: "tcp://database:8083/#1"
      {{- with .Values.resources }}
      resources:
        {{ toYaml . | nindent 12 }}
      {{- end }}
{{ end }}
